{% extends 'base.html' %}
{% block conteudo %}  
    <table border="table">

        <tr>
            <th>ID</th>
            <th>Nome:</th>
            <th>Matricula: </th>
            <th>Sexo:</th>
            <th>Idade:</th>
            
        </tr>
        
    {%for aluno in alunos %}
        <tr>
            <td>{{aluno.id}}</td>
            <td>{{aluno.nome}}</td>
            <td>{{aluno.matricula}}</td>
            <td>{{aluno.sexo}}</td>
            <td>{{aluno.idade}}</td>
    
            <td><a href="/aluno/aluno/{{aluno.id}}/">Ver</a></td>
            <td><a href="/aluno/excluir/{{aluno.id}}/">Apagar</a></td>
            <td><a href="/aluno/editar/{{aluno.id}}/">Editar</a></td>
        </tr>
               
    {% endfor %}
</table>       

       
{% endblock %}



